:root {
  --bootstrapLight: #f8f9fa;
  --dimGray: #696969;
  --lightGray: #bebebe;
  --lightPSUgreen: #6e7d3c;
  --PSUgreen: #3c4c0c;
  --white: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    45deg,
    hsl(210deg 11% 15%) 0%,
    hsl(80deg 44% 18%) 47%,
    hsl(75deg 45% 26%) 81%,
    hsl(74deg 35% 36%) 100%
  );
  background-attachment: fixed;
}

.hidden {
  display: none;
}

/* Flash messages */
.flash-messages {
  margin-top: 100px;
}

.flash-messages button {
  z-index: 1000;
}

/* Navigation Bar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h1 {
  color: var(--white);
  user-select: none;
}

header .logo i {
  margin-right: 20px;
  color: var(--white);
}

.navigation a {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  margin-right: 60px;
  transition: 0.25s;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--white);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after,
.navigation a:focus::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
}

.navigation .btn:hover {
  color: var(--PSUgreen);
  background: var(--white);
}

.navigation .btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--white);
}

/* Login */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 400px;
  background: var(--white);
  padding-bottom: 20px;
  border-radius: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, height 0.2s ease;
}

.center.active-popup {
  transform: translate(-50%, -50%) scale(1);
}

.center h2 {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid var(--lightGray);
}

.center form {
  padding: 0 50px;
  box-sizing: border-box;
}

.center form .input-field {
  position: relative;
  border-bottom: 2px solid var(--dimGray);
  margin: 40px 0;
}

.center form .input-field i {
  color: var(--PSUgreen);
  position: absolute;
  right: 8px;
}

.center form .input-field input {
  width: 100%;
  height: 25px;
  border: none;
  font-size: 18px;
  background: none;
  outline: none;
}

.center form .input-field label {
  position: absolute;
  top: 50%;
  left: 2px;
  color: var(--dimGray);
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: 0.5s;
}

.center form .input-field span::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 0px;
  width: 0%;
  height: 2px;
  background: var(--PSUgreen);
  transition: 0.5s;
}

.center form .input-field input:focus ~ label,
.center form .input-field input:valid ~ label {
  top: -15px;
  color: var(--PSUgreen);
}

.center form .input-field input:focus ~ span::before,
.center form .input-field input:valid ~ span::before {
  width: 100%;
}

input[type='submit'] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid;
  background: var(--lightPSUgreen);
  border-radius: 50px;
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

input[type='submit']:hover {
  border-color: var(--lightPSUgreen);
  transition: 0.5s;
}

/* Student Check-in */
.student-checkin-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 65%;
  height: 50%;
  background: var(--bootstrapLight);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, height 0.2s ease;
}

.student-checkin-content.active-popup {
  transform: translate(-50%, -50%) scale(1);
}

.check-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  color: var(--lightPSUgreen);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.login #checkin-form {
  width: 70%;
  background-color: white;
  padding: 1em;
  margin: 2em auto !important;}

.login .card-prompt {
  width: 70%;
  border: 5px solid;
  margin: 0 auto;
  margin-top: 30vh;
  cursor: pointer;
}

.login .card-prompt h3 {
  width: 100%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.login .card-prompt h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--dimGray);
  margin: 60px 0 30px;
  line-height: 0.1em;
}

.login .card-prompt h4 span {
  background-color: var(--bootstrapLight);
  padding: 0 10px;
}

.check-in .card-prompt {
  width: 70%;
}

.check-in .card-prompt h3 {
  width: 100%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-align: center;
}

.check-in .card-prompt h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--dimGray);
  margin: 60px 0 30px;
  line-height: 0.1em;
}

.check-in .card-prompt h4 span {
  background-color: var(--bootstrapLight);
  padding: 0 10px;
}

.check-in form {
  width: 70%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.check-in form h3 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.check-in #idHelp {
  color: var(--dimGray);
}

.check-in form button {
  width: 100%;
  background: var(--lightPSUgreen);
  border: 1px solid var(--PSUgreen);
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.check-in form button:hover {
  background: var(--lightPSUgreen);
  border-color: var(--lightPSUgreen);
}

.check-in form button:focus {
  background-color: var(--lightPSUgreen);
  border-color: var(--PSUgreen);
}

.check-in input:focus {
  border: 1px solid var(--lightPSUgreen);
  box-shadow: 0 0 10px var(--lightPSUgreen);
}

/* Student Checkin Equipment */
.student-checkin-equipment-content {
  margin: 20px 0;
}

.student-checkin-equipment-content .student-info {
  position: relative;
  width: 95%;
  top: -20px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.student-checkin-equipment-content h2 {
  color: var(--PSUgreen);
}

.scrollable-content {
  height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--bootstrapLight);
}

.scrollable-content::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bootstrapLight);
}

.scrollable-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba (0, 0, 0, 0.3);
  background-color: var(--lightPSUgreen);
}

.student-checkin-equipment-content h3 {
  padding: 12px;
  margin: 10px 0;
  font-size: 20px;
}

.student-checkin-equipment-content .col.equipment .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.student-checkin-equipment-content img {
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.student-checkin-equipment-content h4 {
  font-size: 0.75em;
}

.student-checkin-equipment-content img.true {
  border: 5px solid green;
  border-radius: 10px;
}

.student-checkin-equipment-content img.false {
  border: 5px solid red;
  border-radius: 10px;
}
