:root {
  --green: #228b22;
  --lightGrey: #bebebe;
  --PSUgreen: #3c4c0c;
  --red: #b22222;
}

body {
  background-color: white;
}

/* Sidebar */

#side_nav {
  background: var(--PSUgreen);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: white;
}

.sidebar li.active {
  background: white;
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: black;
}

.sidebar li a {
  color: white;
}

.navbar-brand span {
  background: var(--PSUgreen);
}

/* Student's Equipment Overview */
.container .equipStudent-content {
  display: flex;
  justify-content: center;
}

.equipStudent-content img {
  max-width: 75%;
  height: auto;
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--lightGrey);
}

.equipStudent-content img.true {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}

.equipStudent-content img.false {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

.form-content .btn-primary {
  background-color: var(--PSUgreen);
  border: solid var(--PSUgreen);
}

/* Dashboard */
.dashboard {
  position: relative;
  padding: 20px;
  width: 100%;
}

.dashboard-top {
  display: flex;
  width: 100%;
}

.dashboard-menu {
  display: flex;
  margin-top: 20px;
}

.dashboard-menu .card {
  width: 25%;
  margin: 10px;
  background: gainsboro;
  text-align: center;
  padding: 0.5em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.dashboard-menu .card i {
  padding: 5px;
  font-size: 2.5em;
}
.dashboard-menu .card h3 {
  margin: 10px;
  text-transform: capitalize;
  font-size: 100%;
}

.dashboard-menu .card .card-buttons {
  width: 100%;
  text-align: center;
}

.dashboard-menu .card button {
  display: inline-block;
  background: #6e7d3c;
  color: white;
  font-size: 75%;
  padding: 7px 7px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  #side_nav.active {
    margin-left: 0;
  }
}
