:root {
  --black: #000000;
  --bootstrapLight: #f8f9fa;
  --dimGray: #696969;
  --green: #228b22;
  --lightGrey: #bebebe;
  --lightPSUgreen: #6e7d3c;
  --PSUgreen: #3c4c0c;
  --red: #b22222;
  --white: #ffffff;
}

body {
  background-color: var(--bootstrapLight);
}

/* Sidebar */

#side_nav {
  background: var(--PSUgreen);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: var(--white);
}

.sidebar li.active {
  background: var(--white);
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: black;
}

.sidebar li a {
  color: var(--white);
}

/* Navbar */

.navbar-brand span {
  background: var(--PSUgreen);
}

.nav-item {
  text-align: right;
}

.navbar i {
  color: var(--white);
}

/* Dashboard */
.dashboard {
  position: relative;
  padding: 20px;
  width: 100%;
}

.dashboard-menu {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-menu h1 {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.dashboard-menu .card {
  width: 25%;
  flex-grow: 4;
  margin: 10px;
  background: var(--white);
  text-align: center;
  padding: 0.5em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.dashboard-menu .card i {
  padding: 5px;
  font-size: 2.5em;
}
.dashboard-menu .card h1 {
  margin: 10px;
  font-size: 100%;
}

.dashboard-menu .card p {
  font-size: 12px;
  margin-bottom: 0;
}

.dashboard-menu .card .card-buttons {
  width: 100%;
  text-align: center;
}

.dashboard-menu .card button {
  display: inline-block;
  background: var(--lightPSUgreen);
  color: var(--white);
  font-size: 75%;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.daily-user-log {
  width: 100%;
  background: var(--white);
  margin: 40px 10px;
  padding: 0.5em 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.daily-user-log .title {
  display: flex;
  padding: 5px;
  margin-bottom: 15px;
  align-items: baseline;
}

.daily-user-log .title i {
  margin-right: 10px;
  font-size: 1.25em;
}

.daily-user-log .title h1 {
  font-size: 125%;
  margin: 0;
}

.daily-user-log .daily-user-log-data {
  display: flex;
  justify-content: space-between;
}

.daily-user-log-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.daily-user-log-data .data .data-list {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  white-space: nowrap;
}

.daily-user-log-data .data-title {
  font-size: 16px;
  font-weight: 500;
}

/* Permissions */
.permissions-content .card-prompt {
  margin: 40px 0 0 48px;
}

.permissions-content .card-prompt h3 {
  width: 50%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-align: center;
}

.permissions-content .card-prompt h4 {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid var(--dimGray);
  margin: 60px 0 60px;
  line-height: 0.1em;
}

.permissions-content .card-prompt h4 span {
  background-color: var(--bootstrapLight);
  padding: 0 10px;
}

.permissions-content form {
  width: 50%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.permissions-content form h3 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.permissions-content #idHelp {
  color: var(--dimGray);
}

.permissions-content form button {
  width: 100%;
  background: var(--lightPSUgreen);
  border: 1px solid var(--PSUgreen);
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.permissions-content form button:hover {
  background: var(--lightPSUgreen);
  border-color: var(--lightPSUgreen);
}

/* Permissions Student */
.permissionsStudent-content {
  margin: 20px 0;
}

.permissionsStudent-content .student-info {
  position: relative;
  top: -20px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.permissionsStudent-content h3 {
  padding: 12px;
  margin: 10px 0;
  font-size: 20px;
}
.permissionsStudent-content .col.equipment .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.permissionsStudent-content img {
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.permissionsStudent-content h4 {
  font-size: 0.75em;
}

.permissionsStudent-content img.true {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}

.permissionsStudent-content img.false {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

/* Equipment Overview */
.equipOverview-content {
  margin: 20px 0;
}

.equipOverview-content .header {
  position: relative;
  top: -20px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.equipOverview-content h3 {
  padding: 12px;
  margin: 10px 0;
  font-size: 20px;
}
.equipOverview-content .col.equipment .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--white);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.equipOverview-content img {
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.equipOverview-content a {
  text-decoration: none;
  color: var(--black);
}

.equipOverview-content a:hover {
  color: var(--lightPSUgreen);
}

.equipOverview-content h4 {
  font-size: 0.75em;
  font-weight: 700;
}

/* Add User Form */
.form-content .card-prompt {
  margin: 40px 0 0 48px;
}

.form-content .card-prompt h3 {
  width: 50%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-align: center;
}

.form-content .card-prompt h4 {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid var(--dimGray);
  margin: 60px 0 60px;
  line-height: 0.1em;
}

.form-content .card-prompt h4 span {
  background-color: var(--bootstrapLight);
  padding: 0 10px;
}

.form-content form {
  width: 50%;
  background: var(--white);
  padding: 1em;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.form-content form h3 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.form-content #idHelp {
  color: var(--dimGray);
}

.form-content form button {
  width: 100%;
  background: var(--lightPSUgreen);
  border: 1px solid var(--PSUgreen);
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.form-content form button:hover {
  background: var(--lightPSUgreen);
  border: 1px solid var(--PSUgreen);
  box-shadow: 0 0 2px var(--PSUgreen);
}

.form-content input:focus {
  border: 1px solid var(--lightPSUgreen);
  box-shadow: 0 0 10px var(--lightPSUgreen);
}

/* Media Queries */
@media (max-width: 767px) {
  /* Sidebar */
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  #side_nav.active {
    margin-left: 0;
  }

  /* Dashboard */
  .dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashboard-menu .card {
    width: 70%;
    flex-grow: 4;
  }

  .daily-user-log-data .data-title {
    font-size: 80%;
  }

  .daily-user-log-data .data .data-list {
    font-size: 75%;
  }
}

@media (min-width: 1200px) {
  .dashboard-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .daily-user-log {
    width: 65%;
  }
}
