{% extends "index.html" %} {% block content %}
<div class="form-content px-3 pt-4">
  <h2 class="fs-5 pe-2">New Account</h2>
  {% if error_statement %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ error_statement }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <form action="/account-creation-form/" method="POST" class="m-5">
    <div class="mb-3">
      <label for="id" class="form-label">Access badge ID</label>
      <input
        type="id"
        maxlength="6"
        class="form-control"
        name="id"
        value="{{ id }}"
      />
      <div id="idHelp" class="form-text">Must be a 6 digit number</div>
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        name="fname"
        value="{{ firstname }}"
      />
    </div>
    <div class="mb-3">
      <label for="lname" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        name="lname"
        value="{{ lastname }}"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="user@pdx.edu"
        name="email"
        value="{{ email }}"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn-primary" id="submit-btn">Submit</button>
  </form>
</div>

{% endblock %}

<!--
  *note this form need to redirect after submission to a completed form. more than likely we can just use the same infor from user creation or we can expand this form. tbd...
-->
