{% extends "index.html" %} {% block content %}
<div class="form-content px-3 pt-4">
  <h2 class="fs-2 pe-2">Add New Machine</h2>
  {% if error_statement %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ error_statement }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %} {% if success_statement %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ success_statement }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <form action="/add-user-form/" method="POST" class="m-5">
    <div class="mb-3">
      <label for="fname" class="form-label">Machine name</label>
      <input
        type="text"
        class="form-control"
        name="machine_name"
        id="machine_name"
        value="{{ machine_name }}"
      />
    </div>
    <button type="submit" class="btn-primary" id="submit-btn">Submit</button>
  </form>
</div>

{% endblock %}
