{% extends "index.html" %} {% block content %}
<h1>Card Reader Test</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function fetchData() {
      $.getJSON('/card_data', function(data) {
          $('#facility-code').text(data.facility_code !== null ? data.facility_code : 'No data received.');
          $('#card-number').text(data.card_number !== null ? data.card_number : 'No data received.');
          $('#timestamp').text(data.timestamp !== null ? data.timestamp : 'No data received.');
      }).fail(function() {
          $('#facility-code').text('No data received.');
          $('#card-number').text('No data received.');
          $('#timestamp').text('No data received.');
      });
    }
    </script>
<body>
  <h1>Card Reader Data</h1>
  <p>Timestamp: <span id="timestamp"></span></p>
  <p>Card Number: <span id="card-number"></span></p>
  <p>Facility Code: <span id="facility-code"></span></p>
  <button onclick="fetchData()">Get Data</button>
</body>
{% endblock %}