{% extends "index.html" %} {% block content %}
<h1>Card Reader Test</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function fetchData() {
      $.getJSON('/card_data', function(data) {
          if (data.card_number && data.facility_code) {
            $('#card-number').text(data.card_number);
            $('#facility-code').text(data.facility_code);
          } else {
            $('#card-number').text('No data received.');
            $('#facility-code').text('');
          }
      });
    }
    </script>
<body>
  <h1>Card Reader Data</h1>
  <p>Card Number: <span id="card-number"></span></p>
  <p>Facility Code: <span id="facility-code"></span></p>
  <button onclick="fetchData()">Get Data</button>
</body>
{% endblock %}