{% extends "index.html" %} {% block content %}
<div class="dashboard-content px-3 pt-4">
  <h2 class="fs-5 pe-2">Dashboard</h2>
  <p>
    This is where general overview content would go. Some ideas for what could
    go on here:
  </p>
  <ul>
    <li>
      Have the most recent student's equipment permissions displayed to the
      screen
    </li>
    <li>
      List of the most recent students to check into the lab that day. From this
      list, we could link to each student's equipment permissions, waiver, and
      emergency contact information, so they wouldn't need to tap their card
      twice in one lab session.
    </li>
  </ul>
</div>
{% endblock %}
