{% extends "index.html" %} {% block content %}
<section class="dashboard">
  <div class="dashboard-menu">
    <div class="card col-4">
      <i class="fa-solid fa-user-large"></i>
      <h1>Student</h1>
      <p>Add and edit users</p>
      <div class="card-buttons">
        <a href="{{ url_for('views.add_user_form')}}"><button>Add</button></a>
        <a href="{{ url_for('views.edit_user')}}"><button>Edit</button></a>
      </div>
    </div>
    <div class="card col-4">
      <i class="fa-solid fa-bolt"></i>
      <h1>Equipment</h1>
      <p>Manage equipment</p>
      <div class="card-buttons">
        <a href="{{ url_for('views.manage_equipment')}}"><button>Manage</button></a>
      </div>
    </div>
    <div class="card col-4">
      <i class="fa-solid fa-pen-to-square"></i>
      <h1>Training</h1>
      <p>Update training for users</p>
      <div class="card-buttons">
        <a href="{{ url_for('views.training_session')}}">
          <button>Update</button></a>
      </div>
    </div>
    <div class="daily-user-log">
      <div class="title">
        <i class="fa-solid fa-clock"></i>
        <h1>Recent users</h1>
        <a style="max-width: 150px; margin-left: 20px;"class="btn-primary psu-button" href="{{ url_for('views.event_log_csv') }}">Export to CSV</a>
      </div>
      <div class="daily-user-log-data">
        <div class="data-row header-row">
          <span class="data data-title access-id">Access Badge ID</span>
          <span class="data data-title psu-id">PSU ID</span>
          <span class="data data-title names">Name</span>
          <span class="data data-title event">Event</span>
          <span class="data data-title time">Time</span>
        </div>
      </div>
      {% if logs %}{% for event in logs %}
      <div class="data-row header-row">
        <span class="data data-title access-id">{{event.badge}}</span>
        <span class="data data-title psu-id">{{event.psu_id}}</span>
        <span class="data data-title names">{{event.fname}} {{event.lname}}</span>
        <span class="data data-title event">{{event.event}}</span>
        <span class="data data-title time">{{ event.timestamp.strftime('%H:%M:%S') }}</span>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>

{% endblock %}