{% extends "index.html" %} {% block content %}
<section class="dashboard">
  <div class="dashboard-menu">
    <div class="card col-4">
      <i class="fa-solid fa-user-large"></i>
      <h1>Student</h1>
      <p>Remove users</p>
      <div class="card-buttons">
        <a href="{{ url_for('views.remove_user_form')}}">Remove</a>
        <!--this may be better as a text field, rather than another page....-->
      </div>
    </div>
    {% if current_role == "Admin" %}
    <div class="card col-4">
      <i class="fa-solid fa-bolt"></i>
      <h1>Promote User</h1>
      <p>change user permissions</p>
      <div class="card-buttons">
        <a style="margin-top: 20px;" href="{{ url_for('views.promote_user') }}">Promote</a>
      </div>
    </div>
    {% endif %}
    <div class="card col-4">
      <i class="fa-solid fa-pen-to-square"></i>
      <h1>User Data</h1>
      <p>Update data for users</p>
      <div class="card-buttons">
        <a href="">Update</a>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}