{% extends "index.html" %} {% block content %}
<div class="equipOverview-content">
  <div class="header">
    <h2>Equipment Overview</h2>
  </div>
  <!-- Circuit Board Manufacturing Equipment -->
  <div class="circuit-board">
    <h3>Circuit Board Manufacturing</h3>
    <div class="container mx-0 overflow-hidden">
      <div class="row row-cols-2 row-cols-md-4 g-4">
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/misc/LPKF_MultipressS/"
              target="_blank"
              class="epl-link"
              ><h4>LPKF Multipress S</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/lpkf_multipress_s.jpg')}}"
                alt="LPKF multipress S"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/router/LPKF/"
              target="_blank"
              class="epl-link"
            >
              <h4>LPKF S63 PCB Router</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/lpkf_s63_pcb_router.jpg')}}"
                alt="LPKF S63 PCB Router"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/router/LPKF_S104/"
              target="_blank"
              class="epl-link"
            >
              <h4>LPKF S104 PCB Router</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/lpkf_s104_pcb_router.jpg')}}"
                alt="LPKF S104 PCB Router"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/misc/pickAndPlace/"
              target="_blank"
              class="epl-link"
            >
              <h4>Pick and Place</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/pick_and_place.jpg')}}"
                alt="Pick and Place"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/solder/Soldering-Equipment"
              target="_blank"
              class="epl-link"
            >
              <h4>Soldering Equipment</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/soldering_equipment.jpg')}}"
                alt="Soldering Equipment"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/solder/oven/"
              target="_blank"
              class="epl-link"
            >
              <h4>T200N Desktop Solder Oven</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/t200n_desktop_solder_oven.jpg')}}"
                alt="T200N Desktop Solder Oven"
            /></a>
          </div>
        </div>
        <div class="col equipment">
          <div class="card">
            <a
              href="https://psu-epl.github.io/doc/equip/testing/"
              target="_blank"
              class="epl-link"
            >
              <h4>Test and Measurement</h4>
              <img
                src="{{url_for('static', filename='equipment_images/circuit_board_manufacturing/test_and_measurement.jpg')}}"
                alt="Test and Measurement"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 3D Printers Equipment -->
    <div class="3d-printer">
      <h3>3D Printers</h3>
      <div class="container mx-0 overflow-hidden">
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/printer/form2/"
                target="_blank"
                class="epl-link"
              >
                <h4>Form 3 SLA Printer</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/3d_printers/form_3_sla_printer.jpg')}}"
                  alt="Form 3 SLA Printer"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/printer/UM3/"
                target="_blank"
                class="epl-link"
              >
                <h4>Ultimaker3 Extended 3D Printer</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/3d_printers/ultimaker3_extended_3d_printer.jpg')}}"
                  alt="Ultimaker 3 Extended 3D Printer"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Machining Equipment -->
    <div class="machining-equipment">
      <h3>Machining Equipment</h3>
      <div class="container mx-0 overflow-hidden">
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/machining/drillPress/"
                target="_blank"
                class="epl-link"
              >
                <h4>Drill Press</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/machining_equipment/drill_press.jpg')}}"
                  alt="Drill Press"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/machining/lathe/"
                target="_blank"
                class="epl-link"
              >
                <h4>Little Machine Shop Lathe</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/machining_equipment/little_machine_shop_lathe.jpg')}}"
                  alt="Little Machine Shop Lathe"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/machining/mill/"
                target="_blank"
                class="epl-link"
              >
                <h4>Little Machine Shop Mill</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/machining_equipment/little_machine_shop_mill.jpg')}}"
                  alt="Little Machine Shop Mill"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/machining/wazer/"
                target="_blank"
                class="epl-link"
              >
                <h4>WAZER</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/machining_equipment/wazer.jpg')}}"
                  alt="WAZER"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Laser Cutters Equipment -->
    <div class="laser-cutters">
      <h3>Laser Cutters</h3>
      <div class="container mx-0 overflow-hidden">
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/laser/QD-1390/"
                target="_blank"
                class="epl-link"
              >
                <h4>QD-1390 Laser Cutter</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/laser_cutters/qd-1390_laser_cutter.jpg')}}"
                  alt="QD-1390 Laser Cutter"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Miscellaneous Equipment -->
    <div class="miscellaneous-equipment">
      <h3>Miscellaneous</h3>
      <div class="container mx-0 overflow-hidden">
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/misc/EZFORM_SV_1217/"
                target="_blank"
                class="epl-link"
              >
                <h4>EZFORM SV 1217</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/miscellaneous/ezform_sv_1217.jpg')}}"
                  alt="EZFORM SV 1217"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/misc/cameo/"
                target="_blank"
                class="epl-link"
              >
                <h4>Silhouette Cameo</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/miscellaneous/silhouette_cameo.jpg')}}"
                  alt="Silhouette Cameo"
              /></a>
            </div>
          </div>
          <div class="col equipment">
            <div class="card">
              <a
                href="https://psu-epl.github.io/doc/equip/misc/Thermocut/"
                target="_blank"
                class="epl-link"
              >
                <h4>Thermocut 115/E</h4>
                <img
                  src="{{url_for('static', filename='equipment_images/miscellaneous/thermocut_115e.jpg')}}"
                  alt="Thermocut 115/E"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
