{% extends "index.html" %} {% block content %}
<div class="manage-equipment-content">
  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-3">
          <h3>
            Manage <b>Equipment</b>
            <button
              class="btn btn-success float-end"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#add_modal"
            >
              Add new equipment
            </button>
          </h3>
          <!-- Equipment/Machine table -->
          <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Machine 1</td>
                <td>
                  <a
                    href=""
                    class="btn edit"
                    data-bs-toggle="modal"
                    data-bs-target="#edit_modal"
                    ><i class="fa-solid fa-pen-to-square"></i
                  ></a>
                  <a
                    href=""
                    class="btn delete"
                    onclick="return confirm('Are you sure you want to delete this equipment?')"
                    ><i class="fa-solid fa-trash"></i
                  ></a>
                </td>
              </tr>
              <!-- Edit Equipment Modal -->
              <div id="edit_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Edit Equipment</h4>
                    </div>
                    <div class="modal-body">
                      <form action="" method="POST">
                        <div class="form-group">
                          <label for="new_equipment_name" class="mb-1"
                            >New equipment name:</label
                          >
                          <input type="hidden" name="id" value="id" />
                          <input
                            type="text"
                            class="form-control"
                            name="new_equipment_name"
                            value="Machine1"
                          />
                        </div>
                        <div class="form-group">
                          <button class="btn" type="submit">
                            Update Equipment
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Edit Equipment Modal -->
            </tbody>
          </table>
          <!-- End Equipment/Machine table -->
        </div>
        <!-- Add Equipment Modal -->
        <div id="add_modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Equipment</h4>
              </div>
              <div class="modal-body">
                <form action="" method="POST">
                  <div class="form-group">
                    <label for="equipment_name" class="mb-1"
                      >Equipment name:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="equipment_name"
                      required="1"
                    />
                  </div>
                  <div class="form-group">
                    <button class="btn" type="submit">Add Equipment</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Add Equipment Modal -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
