{% extends "index.html" %} {% block content %}
<div class="permissionsStudent-content">
  <div class="student-info">
    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
  </div>
  {% if user.training_log|length > 0 %}
  <div class="trained_on">
    <h3>Trained on:</h3>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      {% for training_log in user.training_log %}
      <div class="col equipment">
        <div class="card">
          <h4>{{training_log.machine.name}}</h4>
          <img src="{{training_log.machine.machine_image | base64_to_data_url}}" alt="{{training_log.machine.name}}"
            class="true" />
          <span>Since {{training_log.trained_at | format_trained_at}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="trained_on">
    <h3>No recorded training</h3>
  </div>
  {% endif %}
</div>
{% endblock %}