{% extends "index.html" %} {% block content %}
<div class="form-content px-3 pt-4">
  <h2 class="fs-2 pe-2">Promotion</h2>
  <!-- Manual Entry -->
  <form action="/promote" method="POST" class="m-5">
    <div class="mb-3">
      <label for="id" class="form-label">PSU ID</label>
      <input
        type="text"
        class="form-control"
        name="id"
        id="id"
        value="{{ id }}"
        maxlength="9"
        inputmode="numeric"
        pattern="[0-9]{9}"
        required
      />
      <div id="idHelp" class="form-text">Must be a 9 digit number</div>
    </div>
    <div class="mb-3">
      <fieldset>
        <legend>Please select a new role:</legend>
        <input type="radio" id="admin" name="role" value="Admin" />
        <label for="admin">Admin</label><br />
        <input type="radio" id="manager" name="role" value="Manager" />
        <label for="manager">Lab Manager</label><br />
      </fieldset>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Create password</label>
      <input
        type="password"
        class="form-control"
        name="pwd"
        id="pwd"
        value="{{ pwd }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confPwd" class="form-label">Confirm password</label>
      <input
        type="password"
        class="form-control"
        name="confPwd"
        id="confPwd"
        value="{{ confPwd }}"
        required
      />
    </div>
    <button type="submit" class="btn-primary" id="submit-btn">Submit</button>
  </form>
  <!-- End Manual Entry-->
</div>
{% endblock %}
