{% extends "index.html" %} {% block content %}

<div style="margin:20px">
    {% if current_role == "Admin" %}
    <a class="psu-button" href="{{url_for('views.reset_database')}}">Reset Database (THIS CANNOT BE UNDONE)</a>
    {% endif %}
</div>

<div style="margin:20px">
</div>

<div style="margin:20px">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    setInterval(fetchData, .1)
    function fetchData() {
      $.getJSON('/card_data', function(data) {
        console.dir(data);
          if (data.card_number && data.facility_code) {
            console.log(data.card_number)
            $('#card-number').text(data.card_number);
            $('#facility-code').text(data.facility_code);
          }
      });
    }
    </script>
  <h3>Card Reader Test</h3>
  <p>Card Number: <span id="card-number"></span></p>
  <p>Facility Code: <span id="facility-code"></span></p>

</div>
{% endblock %}
